<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="defaultRuleSet" type="PasswordGenerator.CommandLine.Configuration.RuleSetConfig, passgen" />
  </configSections>

  <defaultRuleSet passwordLength="20">
    <requirements>
      <add name="Default_UpperCaseLetters" characters="ABCDEFGHIJKLMNOPQRSTUVWXYZ" minCount="1" />
      <add name="Default_LowerCaseLetters" characters="abcdefghijklmnopqrstuvwxyz" minCount="1" />
      <add name="Default_Numbers" characters="0123456789" minCount="1" />
      <add name="Default_SpecialCharacters" characters="+-=_@#$%^;:.,/~\[](){}?!|&amp;&quot;&lt;&gt;" minCount="1" />
    </requirements>
  </defaultRuleSet>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>